@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "GothamNarrow-black";
    src: url("../static/font/Gotham-Narrow/GothamNarrow-Black.otf");
    font-weight: normal;
    font-style: normal; 
  }
@font-face {
    font-family: "GothamNarrow-bold";
    src: url("../static/font/Gotham-Narrow/GothamNarrow-Bold.otf");
    font-weight: normal;
    font-style: normal; 
  }
@font-face {
    font-family: "GothamNarrow-medium";
    src: url("../static/font/Gotham-Narrow/GothamNarrow-Medium.otf");
    font-weight: normal;
    font-style: normal; 
  }

@font-face {
    font-family: "GothamNarrow-Light";
    src: url("../static/font/Gotham-Narrow/GothamNarrow-Light.otf");
    font-weight: normal;
    font-style: normal; 
  }